@accentColor: #FF5722;
@bgColor: #212121;

@fontColor: #FAFAFA;

@bg900: lighten(@bgColor, 0%);
@bg800: lighten(@bgColor, 13%);
@bg700: lighten(@bgColor, 25%);
@bg600: lighten(@bgColor, 33%);
@bg500: lighten(@bgColor, 49%);
@bg400: lighten(@bgColor, 61%);
@bg300: lighten(@bgColor, 75%);
@bg200: lighten(@bgColor, 80.5%);
@bg100: lighten(@bgColor, 83%);
@bg50: lighten(@bgColor, 85%);

@box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
@box-shadow-x2: 0 0 16px -1px rgba(0,0,0,0.75);;