@import "color";
@import "size";
@import "typography";

body,
html {
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: @bg900;
  @media (min-width: @desktop-small) {
    width: @desktop-small-width;
  }
  @media (min-width: @desktop-medium) {
    width: @desktop-medium-width;
  }
  @media (min-width: @desktop-large) {
    width: @desktop-large-width;
  }
}

.test-box {
  padding: 42px;
  margin: 12px;
  background-color: @bg500;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}

.dex-flex-1 {
  flex-grow: 1;
}

.dex-flex-2 {
  flex-grow: 2;
}

.dex-flex-3 {
  flex-grow: 3;
}

.dex-flex-4 {
  flex-grow: 4;
}

.dex-flex-5 {
  flex-grow: 5;
}

.dex-flex-6 {
  flex-grow: 6;
}

.test-box-big {
  .test-box();
  padding: 52px;
  // flex-basis: auto;
  flex-grow: 1;
  // flex-shrink: 1;
}

.test-box-big2 {
  .test-box-big();
  flex-grow: 2;
}

.test-dex-grid-container {
  display: flex;

  flex-direction: row-reverse;
  flex-direction: column-reverse;
  flex-direction: column;

  flex-wrap: wrap-reverse;
  flex-wrap: wrap;

  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: flex-end;
  align-content: flex-start;

  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;

  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline;

  // flex-wrap: nowrap;
  // flex-direction: row;
  // align-content: stretch;
  // justify-content: stretch;
  // align-items: stretch;

  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;

  height: 320px;
}

.g-full,
.grid-full {
  background-color: @bg800;
  padding: @padding;
  box-shadow: @box-shadow;
}

.dex-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dex-grid-row {
  display: flex;
  flex-direction: row;
}

.g-row,
.grid-row {
  display: flex;
}

.g-col-6,
.g6,
.grid-col-6 {
  margin: 0 @margin;
  flex-grow: 1;
}

.g-col-5,
.g5,
.grid-col-5 {
  margin: 0 @margin;
  flex-grow: 2;
}

.g-col-4,
.g4,
.grid-col-4 {
  margin: 0 @margin;
  flex-grow: 3;
}

.g-col-3,
.g3,
.grid-col-3 {
  margin: 0 @margin;
  flex-grow: 4;
}

.g-col-2,
.g2,
.grid-col-2 {
  margin: 0 @margin;
  flex-grow: 5;
}

.g-col-1,
.g1,
.grid-col-1 {
  margin: 0 @margin;
  flex-grow: 6;
}

.acc {
  background-color: @accentColor;
  box-shadow: @box-shadow;
}

.g-t,
.grid-table {
  flex-grow: 1;
  margin: 0 @margin;
}

.t-full,
.table-full {
  width: 100%;
}

.card {
  background-color: @bg700;
  padding: @padding*2;
  margin: @margin 0;
  box-shadow: @box-shadow;
  font-size: 18px;

  &-accent {
    background-color: @accentColor;
    color: @bg900;
  }

  &-header {
    font-size: 21px;
    font-weight: bold;
    padding: @padding;
    border-bottom: 2px solid @bg900;
  }
}

table {
  border-collapse: collapse;

  caption {
    text-align: left;
    padding: @padding*2;
    .title();
    border-bottom: 1px solid @fontColor;
  }
}

tr td,
tr th {
  padding: @padding;
  text-align: right;
  .body-2();
  border-bottom: 1px solid @bg500;
}

tr td {
  .body-1();
}

tbody tr:hover {
  background-color: @bg600;
  cursor: pointer;
  color: @bg50;
}

.left {
  text-align: left;
}
