body,
html {
  height: 100%;
  width: @width;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: @gray900Color;
}

.g-full,
.grid-full {
  background-color: @gray800Color;
  padding: @padding;
  box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
}

.g-row,
.grid-row {
  display: flex;
}

.g-col-6,
.g6,
.grid-col-6 {
  margin: 0 @margin;
  flex-grow: 1;
}

.g-col-5,
.g5,
.grid-col-5 {
  margin: 0 @margin;
  flex-grow: 2;
}

.g-col-4,
.g4,
.grid-col-4 {
  margin: 0 @margin;
  flex-grow: 3;
}

.g-col-3,
.g3,
.grid-col-3 {
  margin: 0 @margin;
  flex-grow: 4;
}

.g-col-2,
.g2,
.grid-col-2 {
  margin: 0 @margin;
  flex-grow: 5;
}

.g-col-1,
.g1,
.grid-col-1 {
  margin: 0 @margin;
  flex-grow: 6;
}

.acc {
  background-color: @accentColor;
  box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
}

.g-t,
.grid-table {
  flex-grow: 1;
  margin: 0 @margin;
}

.t-full,
.table-full {
  width: 100%;
}

.card {
  background-color: @gray700Color;
  padding: @padding*2;
  margin: @margin 0;
  box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
  font-size: 18px;

  &-accent {
    background-color: @accentColor;
    color: @gray900Color;
  }

  &-header {
    font-size: 21px;
    font-weight: bold;
    padding: @padding;
    border-bottom: 2px solid @gray900Color;
  }
}

table {
  border-collapse: collapse;

  caption {
    text-align: left;
    padding: @padding*2;
    .title();
    border-bottom: 1px solid @fontColor;
  }
}

tr td,
tr th {
  padding: @padding;
  text-align: right;
  .body-2();
  border-bottom: 1px solid @gray500Color;
}

tr td {
  .body-1();
}

tbody tr:hover {
  background-color: @gray600Color;
  cursor: pointer;
  color: @gray50Color;
}

.left {
  text-align: left;
}

// thead {
//   text-align: right;
//   padding: @padding;
//   border-bottom: 1px solid @fontColor;

//   .left {
//     text-align: left;
//   }
// }

// tbody {
//   .left {
//     text-align: left;
//   }

//   tr {
//     border-bottom: 1px solid @fontColor;
//     padding: @padding;

//     &:hover {
//       background-color: @accentColor;
//       cursor: pointer;
//     }

//     td {
//       text-align: right;
//     }
//   }
// }
