@import "color";
@import "size";

body,
html {
  color: @fontColor;
  font-family: 'Roboto', sans-serif;
}

.display-4,
h1 {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*112*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*112*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*112*1px;
  }
  font-weight: 300;
}

.display-3,
h2 {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*56*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*56*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*56*1px;
  }
  font-weight: 400;
}

.display-2,
h3 {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*45*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*45*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*45*1px;
  }
  font-weight: 400;
}

.display-1,
h4 {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*34*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*34*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*34*1px;
  }
  font-weight: 400;
}

.headling {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*24*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*24*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*24*1px;
  }
  font-weight: 400;
}

.title {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*20*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*20*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*20*1px;
  }
  font-weight: 500;
}

.subheading {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*15*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*15*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*15*1px;
  }
  font-weight: 400;
}

.body-2 {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*13*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*13*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*13*1px;
  }
  font-weight: 500;
}

.body-1 {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*13*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*13*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*13*1px;
  }
  font-weight: 400;
}

.caption {
  @media (min-width: @desktop-small) {
    font-size: @desktop-small-sp*12*1px;
  }
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*12*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*12*1px;
  }
  font-weight: 400;
}

.dex-material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}