@import "color";
@import "size";

body,
html {
  color: @fontColor;
  font-family: 'Roboto', sans-serif;
}

.display-4,
h1 {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*112*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*112*1px;
  }
  font-weight: 300;
}

.display-3,
h2 {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*56*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*56*1px;
  }
  font-weight: 400;
}

.display-2,
h3 {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*45*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*45*1px;
  }
  font-weight: 400;
}

.display-1,
h4 {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*34*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*34*1px;
  }
  font-weight: 400;
}

.headling {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*24*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*24*1px;
  }
  font-weight: 400;
}

.title {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*20*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*20*1px;
  }
  font-weight: 500;
}

.subheading {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*15*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*15*1px;
  }
  font-weight: 400;
}

.body-2 {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*13*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*13*1px;
  }
  font-weight: 500;
}

.body-1 {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*13*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*13*1px;
  }
  font-weight: 400;
}

.caption {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*12*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*12*1px;
  }
  font-weight: 400;
}

.button {
  @media (min-width: @desktop-medium) {
    font-size: @desktop-medium-sp*14*1px;
  }
  @media (min-width: @desktop-large) {
    font-size: @desktop-large-sp*14*1px;
  }
  font-weight: 500;
  text-transform: uppercase;
}
